In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import pandas as pd


import state
import component

In [3]:
pwd

'C:\\Users\\chaithcock\\Documents\\repos\\RushHour\\RushHourPy'

In [4]:
conn = sqlite3.connect('database\\rush_hour.db')
cur = conn.cursor()

In [5]:
sql = "select * from component c join comp_stats s on c.id = s.component_id"
comp_data_df = pd.read_sql(sql,conn)

DatabaseError: Execution failed on sql 'select * from component c join comp_stats s on c.id = s.component_id': no such table: component

In [23]:
comp_data_df.head()

,id,comb_class_id,topo_class,component_id,num_states,num_soln_states,density,is_solvable,diameter,min_cut_size
0,1,36,None,1,96,20,0.046053,1,14,-1
1,2,36,None,2,146,34,0.032593,1,14,-1
2,3,36,None,3,11,1,0.254545,1,6,-1
3,4,36,None,4,236,28,0.023440,1,14,-1
4,5,36,None,5,16,2,0.175000,1,7,-1

In [31]:
comp_data_df.diameter.max()

35

In [22]:
#state_df = pd.read_sql("select * from state where comb_class_id = 36;",conn)
#component_df = pd.read_sql("select * from component where comb_class_id = 36;",conn)
#comp_edges_df = pd.read_sql("select * from comp_edges where comb_class_id = 36", conn)

In [14]:
state_df.head()

,red_car_end_a,game_hash_top,game_hash_bottom,comb_class_id,topo_class_hash,is_soln_state,component_id,node_id,soln_nbr_id,soln_dist
0,12,2613951457693702,0,36,None,NaN,956,1,None,7.0
1,12,2613558735048704,0,36,None,NaN,957,1,None,4.0
2,12,2613541588733952,0,36,None,NaN,957,4,None,4.0
3,12,2613539445444608,0,36,None,NaN,957,10,None,4.0
4,12,2613539944569856,211106232532992,36,None,NaN,958,1,None,6.0